* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  margin: 0;
}
.left_side {
  width: 25%;
  width: 400px;
  height: 715px;
  background-color: #2f80ed;
}
.logo {
  margin-left: 15px;
  margin-bottom: 200px;
}
.dashboard {
  display: inline;
  margin-left: 50px;
  margin-bottom: 20px;
}
.settings {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 330px;
}
.logout {
  display: inline;
  margin-left: 50px;
}
.visual {
  position: absolute;
  width: 138px;
  height: 36px;
  left: 473px;
  top: 65px;
}
.views {
  position: absolute;
  width: 56px;
  height: 27px;
  left: 473px;
  top: 137px;
}
.rectangle {
  position: absolute;
  width: 243px;
  height: 150px;
  left: 473px;
  top: 187px;
  background-color: #333333;
  border-radius: 25px;
}
h1 {
  position: absolute;
  width: 115.95px;
  height: 54px;
  left: 542px;
  top: 223px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.right {
  position: absolute;
  width: 227px;
  height: 150px;
  left: 758px;
  top: 187px;
  background-color: #333333;
  border-radius: 25px;
}
.left {
  position: absolute;
  width: 115.95px;
  height: 54px;
  left: 542px;
  top: 223px;
}
.day {
  position: absolute;
  width: 37.01px;
  height: 18px;
  left: 575px;
  top: 280px;
}
.rightt {
  position: absolute;
  width: 108.31px;
  height: 54px;
  left: 827px;
  top: 223px;
}
.leftt {
  position: absolute;
  width: 55.31px;
  height: 18px;
  left: 853px;
  top: 281px;
}
.centerr {
  position: absolute;
  width: 227px;
  height: 150px;
  left: 1043px;
  top: 185px;
}
.centter {
  position: absolute;
  width: 117px;
  height: 54px;
  left: 1100px;
  top: 223px;
}
.month {
  position: absolute;
  width: 55.31px;
  height: 18px;
  left: 1138px;
  top: 288px;
}
.pages {
  position: absolute;
  width: 57px;
  height: 27px;
  left: 473px;
  top: 368px;
}
.rec {
  position: absolute;
  width: 788px;
  height: 65px;
  top: 482;
  left: 411px;
}
