* {
  box-sizing: border-box;
}
body {
  background-color: white;
  margin: 0;
}

.left_side {
  width: 25%;
  width: 350px;
  height: 715px;
  background-color: #2f80ed;
}
.logo {
  margin-left: 15px;
  margin-bottom: 200px;
}
.dashboard {
  display: inline;
  margin-left: 50px;
  margin-bottom: 20px;
}

.settings {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 330px;
}
.settings2 {
  margin: 0;
  margin-right: 150px;
}
.logout {
  margin: 50px;
}

h2 {
  font-weight: 200;
  margin-right: 5px;
}
input {
  border-color: black;
  border-style: inset;
  padding: 13px 20px 13px 20px;
  display: inline;
  font-weight: normal;
  font-size: 29px;
  text-align: center;
  margin-bottom: 34px;
}
h2 {
  border-style: inset;
  border-color: black;
  box-sizing: border-box;
  padding: 13px 20px 13px 20px;
}

#form_login {
  left: 60%;
  top: 30%;
  margin-left: -30%;
  position: absolute;
  margin-top: 0%;
  size: 50px;
}

footer {
  line-height: 700px;
  color: white;
}

button {
  background-color: #333333;
  color: white;
  padding: 20px 40px 20px 40px;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  margin-bottom: 37px;
}
